
{% extends 'profile.html' %}
{% block content %}

  <div id="particles-js"></div>

  <div class="container glass-homepage info-card d-flex align-items-center justify-content-center flex-column mb-auto w-75 p-5">
      <h1 class="header">Welcome to the new data world!</h1>
                  
      <h5 class="mt-4 mb-5 p-0">Our goal is to provide you with the knowledge and skills necessary to navigate the exciting world of data safely.</h5>
                  
      <button class="info-button element py-2 px-4 rounded-pill">  
        <a href="{{url_for('login')}}">
          Sign In
        </a>
      </button>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="/static/particles.js"></script>
  <script src="/static/app.js"></script>
      
{% endblock %}