{% extends 'profile.html' %}
{% block content %}
<h1>Password Manager</h1>

<div class="info-card mb-auto w-75 d-flex flex-column justify-content-center align-items-center p-3">
  <a href="{{url_for('addpass')}}" class="mx-auto">
    <button type="submit" class="border-0 rounded-pill py-2 px-3" style="background: white; color: black;" name="add">+      Add Password</button>
  </a>
  
  <div class="row mt-1 px-4 justify-content-center align-items-center">
    {% for item in items %}
      
      <div class="col-12 col-md-6">
        
        <div class="info-card col-card my-3 px-4 py-3">
          
          <div class="card-body">
            
            <a class="card-title text-light text-decoration-none" href="{{ item.website }}" target="_blank"><i>{{ item.website }}</i></a>
            <h4 class="card-text text-light mt-3">Username/Email: <i>{{ item.username }}</i></h4>
            <h4 class="card-text text-light mb-3" type="password">Password: <i>{{ item.password }}</i></h4>
            
            <a href="#">
              <button class="border-0 rounded-pill w-25 py-2" style="background: #0ef; color: white;">View</button>
            </a>
          
          </div>
        
        </div>
      
      </div>
    {% endfor %}
  </div>
  
{% endblock %}
