{% extends 'profile.html' %}

{% block content %}




    <div class="row w-100 p-0 d-flex justify-content-center align-items-center overflow-auto">

            <h1 class="text-center mb-3">Security News</h1>
            <hr>
        
            {% for _ in range(5) %}

            {% for new, des, l, i in context %}

                <div class="col-3 bg-transparent card info-card border-white px-0 mx-2 my-3 h-75 overflow-auto">
                    <a href="{{l}}" class="header text-decoration-none">
                        <img src="{{i}}" alt="Image unavailable" class="card-img-top">
                    </a>
                    
                    
                    <div class="card-body">
                        <h3><a href="{{l}}" class="header text-decoration-none">{{new}}</a></h3>
                    </div>
                </div>
                    

            {% endfor %}
        {% endfor %}


    </div>

{% endblock %}