{% extends 'profile.html' %}
{% block content %}
<div class="container">
    <h1>Password Strength Checker</h1>
    <form method="post">
      <div class="mb-3">
        <label for="password" class="form-label">Enter your password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="password-strength">
        <div class="password-strength-bar password-strength-weak"></div>
      </div>
      <button type="submit" class="btn btn-primary">Check Password Strength</button>
    </form>
  </div>
  {{message}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-2Djx1CDpl7QzNfB25V7LJp+tKjGckrMstcX/6N0EBxj+1zVQrvlTRuP7VJEdpSPFzfmyoCvjjY9XkVh1AB6U5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}