{% extends 'profile.html' %}
{% block content %}
<div class="container" style="border: 0px solid;height: 80vh;">
  <a href="{{url_for('addpass')}}">
    <button type="submit" class="btn btn-secondary" name="add">Add Password</button>
  </a>
		

  <a href="#">
    <button type="button" class="btn btn-light" style="text-decoration: none;">Edit Password</button>
  </a>
  
  <div class="row my-5">
    {% for password in passwords %}
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-dark">{{ password.website }}</h5>
            <p class="card-text text-dark" type="password">{{ password.user_password }}</p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
        <br>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}